DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

JWT_SECRET=your_super_secret_jwt_key_must_be_at_least_32_characters_long

ADMIN_USERNAME=admin
ADMIN_PASSWORD=saraswati@123

NEXT_PUBLIC_WHATSAPP_NUMBER=919174081035
NEXT_PUBLIC_SCHOOL_PHONE=+919174081035
